<div class="content">
  <div class="card-header">
    Convidados do Evento {{evento?.nome}}
  </div>

  <div class='card'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filtrar:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'
           *ngIf='listFilter'>
        <div class='col-md-6'>
          <h4>Filtro por: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='convidados.length'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Pago</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let convidado of filteredConvidados'>
              <td>{{ convidado.nome }}</td>
              <td>{{ convidado.telefone }}</td>
              <td>{{ convidado.pago }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>

  <div class='card-footer'>
    <a [routerLink]="['/editar-convidado', evento?.id]">
      <i class='fa fa-plus'></i> Criar Novo
    </a>
  </div>
</div>