<div class="content">
  <h2>Usuários</h2>

  <div class='card'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filtrar:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'
           *ngIf='listFilter'>
        <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='usuarios.length'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>CPF/CNPJ</th>
              <th>Data de Nascimento</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let usuario of filteredUsuarios'>
              <td>
                <a [routerLink]="['/usuarios', usuario.id]">
                  {{ usuario.nome }}
                </a>
              </td>
              <td>{{ usuario.cpfCnpj }}</td>
              <td>{{ usuario.dataNascimento }}</td>
              <td>{{ usuario.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
</div>